* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to bottom, #1e1e2f, #121212);
  color: white;
  min-height: 100vh;
}


.navbar {
  background-color: #111;
  padding: 0 1rem;
  height: 4rem;
  display: flex;
  align-items: center;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.logo {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  font-weight: 1000;
  font-size: 2.2rem;
  font-weight: bold;
  background: linear-gradient(to left, #ff0000, #ff8c00, #ffd700, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.logoImg {
  width: 50px;
  height: auto;
  margin-right: 10px;
  border-radius: 50%;
}
@keyframes fire-flicker {
  0% {
    filter: brightness(0.5);
  }
  100% {
    filter: brightness(1);
  }
  50% {
    filter: brightness(2);
  }
}
.nav-links {
  display: flex;
  gap: 1.5rem;
}
.nav-link-join{
  color: white;
  border-radius: 6px;
  background: #ff6a00 ;
  text-decoration: none;
  font-weight: 500;
  position: relative;
  padding: 0.5rem 1rem;
  transition: all 0.3s ease-in-out ;
}
.nav-link-join:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(255, 106, 0, 0.5);
  background: #ffd700;
  color: #111827;
}
.nav-link {
  color: white;
  text-decoration: none;
  font-weight: 500;
  position: relative;
  padding: 0.5rem;
}
.nav-link.active,
.nav-link:hover {
  color: cyan;
}
.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: white;
  transition: width 0.3s ease;
}
.nav-link:hover::after {
  width: 100%;
}
.hamburger {
  display: none;
  cursor: pointer;
}
.menu-icon {
  height: 24px;
  width: 24px;
  stroke: white;
}
.nav-links.mobile {
  display: none;
  flex-direction: column;
  background-color: #111;
  padding: 1rem;
  gap: 1rem;
  position: absolute;
  top: 4rem;
  left: 0;
  right: 0;
  z-index: 999;
}
@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    background-color: #111;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    padding: 1rem;
    gap: 1rem;
    z-index: 999;
  }

  .nav-links.active {
    display: flex;
  }
  .desktop {
    display: none;
  }

  .hamburger {
    display: block;
  }
  .close-icon {
  display: none;
}
}
.join-btn {
  background-color: rgb(255, 111, 0);
  color: black;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
}

.hero {
  background-image: url("work.avif");
  background-size: cover;
  background-position: center;
  height:100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position:relative
}

.hero-content{
  background-color:rgba(0,0,0,0.5);
  padding: 40px;
  border-radius: 10px;
  width:900px;
  height: 250px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.hero-content h1 {
  font-size: 4rem;
  margin-bottom: 15px;
  color:cyan;
}

.hero-content p {
  font-size: 1.1em;
  line-height: 1.5;
  color:white;
}

.container h2{
    color:cyan;
    text-align: center;
    padding: 7px;
    margin: 1rem;
    font-size: 2.4rem;
    font-weight: 400;
}
.card-container {
  display: flex;
  gap: 60px;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  width: 380px;
  height: 280px;
  position: relative;
  background-color: white;
  border-radius: 10px;
  /* overflow: hidden; */
  box-shadow: 0 0 10px rgba(255, 165, 0, 0.6);;
  cursor: pointer;
}

.card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.icon {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: #0f1a3c;
  color: white;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 2;
}

.details {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color:grey; */
  background-image: url("details.avif");
  background-size: cover;
  box-shadow: 0 0 20px rgba(255, 165, 0, 0.4);
  z-index: 1;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  padding: 20px;
  box-sizing: border-box;
  opacity: 0;
  pointer-events: none;
  border-radius: 10px;
}


.details h3{
  font-size: 2rem;
  font-weight: 800;
  color:aqua;
  padding: 0.5rem;
  margin: 0.5rem;
}

.details p{
  color:rgb(255, 111, 0);
  font-size: 1.5rem;
  font-weight: 600;
  padding: 0.5rem;
  margin: 0.5rem;
}

.details a{
  text-decoration: none;
  color:#ffd700;
  font-weight: 500;
  padding: 0.5rem;
  margin: 2rem 0.5rem 2rem 0.5rem;
}
.details.open {
  transform: translateX(0);
  opacity: 1;
  pointer-events: auto;
  z-index: 3;
}

.close {
  background-color:azure;
  border: none;
  color:aqua;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  float: right;
}

footer {
  background: #111;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
}

footer p {
  margin: 0.6rem 0;
}

.footer-link {
  color: cyan;
  text-decoration: none;
  margin: 0 0.5rem;
}

.footer-link:hover {
  text-decoration: underline;
}

